/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    max-width: 1200px; /* Maximum width */
    margin: 20px auto; /* Centered with top and bottom margin */
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #ffffff;
    font-weight: bold;
}

/* Page Basics */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    padding-top: 0;
}

/* About Page */
.about {
    color: #333;
    line-height: 1.6em;
    padding-bottom: 20px;
}

/* Portfolio Page */
.portfolio-item {
    margin-bottom: 20px;
}

.portfolio-item img {
    max-width: 100%;
}

/* Footer */
footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #333;
    text-align: center;
}

footer p {
    margin: 0;
}
