body {
    background-color: #494d5b;
    box-shadow: 0 0 12px -2px black;
    padding: 0;
    max-width: 960px;
    margin: 0 auto;
  }
  a {
    color: aliceblue;
    text-decoration: none;
    font-size: x-large;
    margin: 0 5px;
  }

.container {
    width: 80%;
    max-width: 1200px; 
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #921414;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    padding-top: 0;
}

.about {
    color: #333;
    line-height: 1.6em;
    padding-bottom: 20px;
}

.portfolio-item {
    margin-bottom: 20px;
}

.portfolio-item img {
    max-width: 100%;
}

footer {
    background-color: #333333;
    color: aliceblue;
    height: 70px;
    padding: 10px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 12px -2px black;
  }
  
  footer a {
    margin: 0 25px;
  }
  
  footer .media-link {
    height: 45px;
  }

footer p {
    margin: 0;
}
